body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.tabulator {
    height: 99% !important;
}

.table-container {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 245px);
    width: 100%;
}

#left-table, #right-panel {
    height: 100%;
    min-width: 0;
}

#left-table, #right-table {
    border: 1px solid #333;
}

.gutter {
    background-color: #ccc;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    cursor: col-resize;
    width: 8px;
}

.fa-trash.selected, #right-table .fa-trash {
    color: red !important;
}

.fa-link.selected, #right-table .fa-link {
    color: blue !important;
}

/* Right table hover effect */
#right-table .action-reset-icon:hover {
    color: red !important;
    cursor: pointer;
}

.tabulator-row.original-row {
    background-color: #f0f0f0 !important;
    color: #a0a0a0;
}

.tabulator-row.original-row .tabulator-cell:not([tabulator-field="isOriginal"]) {
    pointer-events: none;
    opacity: 0.6;
}

/* Ensure icons are visible even when cell is opaque */
.tabulator-row.original-row .tabulator-cell i {
    opacity: 1 !important;
}

#right-panel {
    display: flex;
    flex-direction: column;
}

#process-button {
    margin: 10px;
    align-self: flex-end;
}
