body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.table-container {
    display: flex;
    height: calc(100vh - 245px);
}

.table-wrapper {
}

#left-table {
    flex-basis: 70%;
    margin-right: 5px;
}

#right-table {
    flex-basis: 30%;
    margin-left: 5px;
}
