body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.table-container {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 245px);
}

.table-wrapper {
    /* The width will be set by split.js, so we don't need flex-basis here */
}

#left-table, #right-table {
    height: 100%;
}

.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    cursor: col-resize;
}

.fa-trash.selected, .fa-link.selected {
    color: blue;
}

.tabulator-row.original-row {
    background-color: #e0e0e0 !important;
    pointer-events: none;
    color: #a0a0a0;
}
