body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.table-container {
    display: flex;
    height: calc(100vh - 245px);
}

.table-wrapper {
    overflow: hidden;
}

#left-wrapper {
    flex-basis: 70%;
}

#right-wrapper {
    flex-basis: 30%;
}

#left-table, #right-table {
    height: 100%;
    width: 100%;
}

.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    cursor: col-resize;
}
